@media screen and (max-width: 1248px) {
  .form-row .input {
    padding: 13px 15px 13px;
  }
}
@media screen and (max-width: 991px) {
  .accordion-wrap-flex .left-part {
    display: none;
  }
  .accordion-wrap {
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
  }
  .form-flex-wrap .right {
    width: 100%;
  }
  .form-row {
    margin-bottom: 14px;
  }
  .top-create-account .sub-button {
    display: block;
  }
  .form-flex-wrap {
    display: block;
  }
  .form-flex-wrap .left {
    width: 100%;
    margin-right: 0;
  }
  .form-columns2 .form-row {
    margin-bottom: 14px;
  }
  .form-flex {
    display: block;
  }
  .form-flex .w25.parcel-weight {
    width: 100%;
    margin-bottom: 20px;
  }
  .flex-columns3 {
    width: 100%;
    column-gap: 23px;
  }
  .flex-columns3 .w25 {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .login-form {
    width: 100%;
    margin: 15px 0 50px;
  }
  .login-form .form {
    width: 100%;
  }
  .container-form {
    padding: 30px 15px;
  }
  .create_account .logo {
    margin-bottom: 0;
  }
  .logo {
    width: 103px;
    margin-right: 0;
    display: block;
  }
  .sub-button {
    padding: 10px 15px;
  }
  .top-create-account {
    margin-bottom: 35px;
  }
  .divide::after {
    width: 70%;
  }
  .calculator-popup {
    margin: 0;
    width: calc(100% + 12px);
    margin-left: -12px;
    height: 100%;
    position: fixed;
    z-index: 20000;
    background-color: #fff;
  }
  .mfp-inline-holder .mfp-content {
    height: 100%;
  }
  .flex-columns3 {
    column-gap: 7px;
  }
  .calculator-popup .end {
    padding: 30px 16px 30px 40px;
  }
  .calculator-popup .section-sub-menu {
    padding: 20px 15px 30px;
  }
  .calculator-popup.form {
    border-radius: 0;
  }
  .top-calculator {
    padding: 42px 15px 0px;
    border-bottom: 0;
  }
}