@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat";
}

.container {
  width: 100%;
  max-width: 1388px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.ai {
  align-items: center;
}

.jc {
  justify-content: space-between;
}

.bb {
  border-bottom: 1px solid #D8E0EB;
}

.bt {
  border-top: 1px solid #D8E0EB;
}

.bcg-white {
  background-color: #fff;
}

.header {
  padding: 21px 0;
}

.mr {
  margin-right: 30px;
}

.mb {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.w33 {
  width: 33.3%;
}

.w25 {
  width: 25%;
}

.p-40 {
  padding: 40px 40px 30px;
}

.pad-profile {
  padding: 50px 0 70px;
}

.h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #2361A9;
}

.h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #0056A4;
}

.h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #2361A9;
}

.logo {
  width: 150px;
  margin-right: 55px;
  display: block;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu .link-menu {
  margin-right: 43px;
}
.nav-menu .link-menu a {
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #2361A9;
  align-items: center;
  position: relative;
}
.nav-menu .link-menu a .icon-menu {
  width: 24px;
  margin-right: 10px;
}
.nav-menu .link-menu a:after {
  position: absolute;
  top: 210%;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 3px;
  background: #2361A9;
  border-radius: 6px 6px 0 0;
  transition: 0.3s;
}
.nav-menu .link-menu a:hover:after {
  width: 100%;
}

.footer {
  padding: 33px 0 33px;
}
.footer .right .skype {
  margin-right: 20px;
}
.footer .right .skype img {
  width: 40px;
}
.footer .right p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #1B2B3C;
}
.footer .right p a {
  font-weight: 700;
  color: #0056A4;
}

.heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 109%;
  letter-spacing: -0.01em;
  color: #2361A9;
}

.container-form {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form {
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #D8E0EB;
}

.form-row {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.form-row .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.01em;
  color: #2361A9;
  margin-bottom: 5px;
  display: block;
}
.form-row .input {
  border: 1px solid #D7D8D9;
  border-radius: 100px;
  padding: 14px 20px 14px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
}
.form-row select {
  background: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: calc(100% - 14px) center;
}
.form-row option {
  background: none;
}

.form-row .input.address-lookup {
  padding: 10px;
}

.address-lookup select {
  border: none;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: calc(100% - 4px) center;
  width: 100%;
}
.address-lookup select option {
  background: none;
}

.login-form {
  width: 540px;
  margin: 61px auto 108px;
}
.login-form .logo {
  margin: 0 auto 34px;
}
.login-form .form {
  width: 540px;
}
.login-form .h2 {
  text-align: center;
  position: relative;
}
.login-form .h2:before {
  display: block;
  content: "";
  border: 1px solid #D8E0EB;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40%;
}
.login-form .h2:after {
  display: block;
  content: "";
  border: 1px solid #D8E0EB;
  position: absolute;
  top: 50%;
  right: 0;
  width: 40%;
}
.login-form .main-button {
  margin: 0 auto 30px;
}
.login-form .sub-button {
  margin: 0 auto;
}
.login-form .heading {
  margin-bottom: 30px;
  text-align: center;
}

.main-button {
  background: #2361A9;
  border-radius: 100px;
  padding: 15px 31px;
  font-weight: 700;
  font-size: 15px;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: block;
}

.sub-button {
  border-radius: 100px;
  padding: 15px 31px;
  border: 1px solid #2361A9;
  font-weight: 700;
  font-size: 15px;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2361A9;
  background-color: #fff;
  display: inline-block;
}

.number-bcg {
  background: rgba(35, 97, 169, 0.1);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.number-bcg p {
  font-weight: 700;
  font-size: 18px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #2361A9;
}

.section-sub-menu {
  padding: 30px;
  display: none;
}

.section-sub-menu.active {
  display: block;
}

.section-name {
  padding: 20px;
}

.accordion-wrap {
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #D8E0EB;
  background-color: #fff;
  width: 70%;
}

.accordion-wrap-flex {
  align-items: flex-start;
}
.accordion-wrap-flex .left-part {
  width: 30%;
}

.small-form {
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-form .heading {
  margin-bottom: 30px;
  text-align: center;
}

.form-flex-wrap .left {
  width: calc(50% - 30px);
  margin-right: 30px;
}
.form-flex-wrap .right {
  width: 50%;
}

.flex-input {
  column-gap: 11px;
}

.end {
  display: flex;
  justify-content: end;
}
.end .main-button {
  margin-right: 0;
}

.form-columns2 {
  column-gap: 20px;
}
.form-columns2 .form-row {
  width: 50%;
  margin-bottom: 0;
}

.divide {
  font-weight: 700;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #2361A9;
  margin-bottom: 30px;
  position: relative;
}
.divide:after {
  display: block;
  content: "";
  border: 1px solid #D8E0EB;
  position: absolute;
  top: 50%;
  right: 0;
  width: 80%;
}
.divide.small-line:after {
  width: 85%;
}

.create_account {
  padding: 36px 0 84px;
}
.create_account .logo {
  margin-bottom: 0;
}

.profile-create-wrap {
  column-gap: 30px;
}
.profile-create-wrap .w33 {
  width: 33.3%;
}

.profile-main-info .profile-header {
  margin-bottom: 30px;
}
.profile-main-info .profile-header .fs18 {
  margin-bottom: 8px;
}
.profile-main-info .profile-sec {
  margin-bottom: 15px;
}
.profile-main-info .profile-sec:last-of-type {
  margin-bottom: 0;
}

.profile-header .avtar-bcg {
  width: 90px;
  height: 90px;
  background: #E9EFF6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.profile-header .profile-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 109%;
  color: #1B2B3C;
}

.profile-sec .profile-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #5A6673;
}

.profile-button {
  padding: 18px 0 18px;
  display: block;
  text-align: center;
}

.fs18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #2361A9;
}

.profile-edit-card {
  padding: 25px 30px 30px;
}
.profile-edit-card .row {
  margin-bottom: 20px;
}
.profile-edit-card .row:last-of-type {
  margin-bottom: 0;
}

.profile-create {
  padding: 37px 0 70px;
}

.profile .section-sub-menu {
  width: 70%;
}

.name-sec-tb {
  font-weight: 700;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #2361A9;
}

.table-profile {
  width: 100%;
}

.text-left {
  text-align: left;
}

.first-ml {
  padding-left: 23px;
}

td, th {
  padding: 20px 0 20px;
}

tr:nth-child(even) {
  background-color: #F5F6F7;
}

.click-dots {
  width: 38px;
  height: 38px;
  background: #FBDBE3;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.dots-submenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 8px 10px #CECDCD;
  border-radius: 10px;
  width: 310px;
}

.line-dots-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  padding: 13px 24px;
}
.line-dots-menu:hover {
  background-color: #ECEFF3;
}
.line-dots-menu img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.section-name.active {
  background: #2361A9;
  overflow: hidden;
}
.section-name.active .h2 {
  color: #FFFFFF;
}
.section-name.active .number-bcg {
  background: rgba(255, 255, 255, 0.15);
}
.section-name.active .number-bcg p {
  color: #FFFFFF;
}

.small-form.new-parcel {
  padding: 30px;
  align-items: unset;
  margin-bottom: 15px;
}
.small-form.new-parcel .text {
  width: 100%;
  margin-top: 15px;
}
.small-form.new-parcel .line {
  font-weight: 500;
  font-size: 14px;
  line-height: 220%;
  color: #1B2B3C;
  margin-bottom: 10px;
}
.small-form.new-parcel .line:last-of-type {
  margin-bottom: 0;
}

.promocode {
  padding: 15px 30px;
}

.signature-field {
  background: #F8F9FA;
  border: 1px solid #D8E0EB;
  border-radius: 10px;
  height: 240px;
  margin-bottom: 20px;
}

.top-create-account {
  margin-bottom: 42px;
}
.top-create-account .sub-button {
  display: none;
}

.form-row.last {
  margin-bottom: 0;
}

.section-sub-menu.popup {
  display: block;
}

.flex-columns3 {
  width: 75%;
  column-gap: 13px;
}
.flex-columns3 .form-row {
  margin-bottom: 0;
}

.form-flex.del-details {
  column-gap: 13px;
}

.calculator-popup {
  margin: 0 auto;
  width: 680px;
}
.calculator-popup .section-sub-menu {
  padding: 40px 40px 30px;
}
.calculator-popup .end {
  padding: 30px 40px;
}
.calculator-popup .end .sub-button {
  margin-right: 15px;
}

.form-flex .w25.parcel-weight .form-row {
  margin-bottom: 0;
}

.mfp-bg {
  background: rgba(35, 97, 169, 0.4);
  backdrop-filter: blur(10px);
  opacity: 0.8;
}

.top-calculator {
  padding: 25px 20px 25px 22px;
}

.link-login-form .h3 {
  margin-right: 8px;
}
.link-login-form .h3:last-of-type {
  margin-right: 0;
}

.flag {
  margin-right: 10px;
}

.iti {
  width: 100%;
}

.error {
  color: red;
  font-size: 12px;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: unset;
}

.iti--allow-dropdown .iti__flag-container .iti__selected-flag {
  overflow: hidden;
  border-radius: 30px 0 0 30px;
}

.form-flex {
  column-gap: 20px;
}

.iti--allow-dropdown .iti__flag-container .iti__selected-flag {
  overflow: hidden;
}

.iti--allow-dropdown .iti__flag-container {
  padding: 0;
}

.iti__flag-container .iti__selected-flag {
  height: unset;
  padding: 11px 6px 11px 8px;
}

.form-flex.parcel-details {
  width: 100%;
}

.check-row {
  border: 1px solid #D7D8D9;
  border-radius: 8px;
  margin-bottom: 10px;
}
.check-row:last-of-type {
  margin-bottom: 0;
}
.check-row .info-check-row {
  padding: 14px 20px;
  width: 90%;
  border-left: 1px solid #D7D8D9;
}
.check-row .info-check-row .top-line {
  margin-bottom: 13px;
}

.cost-deliver {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2361A9;
}

.subtitle-check-row {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #5A6673;
}

.img-type-delivery {
  width: 30px;
  margin-left: 10px;
}
.img-type-delivery img {
  width: 100%;
}

.radio-check-row {
  padding: 42px 15px;
}
.radio-check-row input {
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  display: block;
}
.radio-check-row .radio-but {
  width: 25px;
  height: 25px;
  border: 1px solid #D7D8D9;
  border-radius: 50%;
  display: block;
}

.section-sub-menu.deliver-to {
  display: block;
}

.payment-row {
  border: 1px solid #2361A9;
  border-radius: 8px;
  padding: 22px 15px;
  width: 300px;
  margin-bottom: 21px;
}
.payment-row .pay-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #0056A4;
  margin-left: 13px;
}

.glyphicon-remove {
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: red;
  position: relative;
}
.glyphicon-remove:before {
  content: "";
  background-image: url(../img/error.svg);
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -15px;
  top: 25%;
}

.glyphicon-ok {
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #2361A9;
  position: relative;
}
.glyphicon-ok:before {
  content: "";
  background-image: url(../img/done.svg);
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -15px;
  top: 25%;
}

.error-message {
  padding-left: 15px;
}

.error-message {
  display: none;
}

.password.error ~ .error-message {
  display: block;
}